fastapi
uvicorn
python-dotenv
pydantic
python-multipart

streamlit
requests
httpx

openai

langchain
langchain-community
langchain-openai
langchain-huggingface

sentence-transformers
faiss-cpu

numpy
tqdm

pymupdf
SQLAlchemy
PyJWT
pwdlib[argon2]
email-validator
Authlib
